body {
  font-family: Arial, sans-serif;
  /*line-height: 1.6;*/
  margin: 0px;
  padding: 0px;
  color: antiquewhite;
  font-size: 19px;
  background-image: url("https://images.unsplash.com/photo-1576086213369-97a306d36557?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fG1lZGljYWx8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60");
  background-color: gray;
  background-blend-mode: multiply;
  background-size: cover;
}
.description{
  font-size: 19px;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center  ;
  padding: 10px;
  font-size: 16px;
}

/*nav ul {*/
/*  list-style: none;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

nav li {
  display: inline-block;
  margin-right: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 2rem;
}

/*h1 {*/
/*  margin-bottom: 1rem;*/
/*}*/

p {
  margin-bottom: 1rem;
}

/*ul {*/
/*  margin-bottom: 1rem;*/
/*  padding-left: 2rem;*/
/*}*/

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* Additional Styles */
ul li {
  list-style-type: disc;
}

/* Responsive Styles */
@media (max-width: 768px) {
  main {
    padding: 1rem;
  }

  nav li {
    display: block;
    margin: 0;
    margin-bottom: 0.5rem;
  }
}